# React Native

# Logs
*.log

# build
*.js
*.json
.gradle/
build/

# iOS
ios/Pods/
ios/build/

# Android
android/.gradle/
android/app/build/

# Editor directories and files
.vscode/
.idea/

# Metro
*.jsbundle

# Misc
.DS_Store
*.swp
